@model BL.PhoneBook


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="~/Content/jquery-3.5.1.min.js"></script>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>3LayerSample</title>

</head>
<body>
    <h1>3LayerSample</h1>
    <form>
        First Name :
        <input id="inputFName">
        <br>
        Last Name :
        <input id="inputLName">
        <br>
        Phone Number :
        <input id="inputPhoneNumber">

        <input type="hidden" id="inputId" />
        <div id="buttoms">
            <button type="submit" class="Insert" name="btnAdd">Save</button>
            <button type="submit" class="Update" name="btnEdit">Edit</button>
            <button type="submit" class="Delete" name="btnDelete">Delete </button>
            <button type="submit" class="Refresh" name="btnRefresh">Refresh </button>
        </div>

    </form>
    <br>

    
    <br>
    <table id="table">
        <tr class="tr header">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
        </tr>
        @foreach (var item in ViewBag.List)
        {
            <tr class="tr body" onclick="selectRow(@item.Id)">
                <td id="id@(item.Id)">@item.Id</td>
                <td id="fname@(item.Id)">@item.FName</td>
                <td id="lname@(item.Id)">@item.LName</td>
                <td id="phonenumber@(item.Id)">@item.PhoneNumber</td>
            </tr>
        }

    </table>


    <script type="text/javascript">

        //******Insert*****//

        $('.Insert').click(function () {
            alert("btnInsert clicked" );
            ref_PhoneBook = {
                Fname: $('#inputFName').val(),
                Lname: $('#inputLName').val(),
                PhoneNumber: $('#inputPhoneNumber').val(),
            };
            console.log(ref_PhoneBook);

            $.ajax({
                url: "/Simple/Create",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(ref_PhoneBook),
                contentType: "application/json;charset=utf-8",
                success: function () {
                    alert("Added");
                    location.reload("table");
                    
                },
                
            });

        })

        
        ////***********Select row**********
        function selectRow(id) {
                $("#inputFName").val(document.getElementById("fname" + id).innerHTML);
                $("#inputLName").val(document.getElementById("lname" + id).innerHTML);
                $("#inputPhoneNumber").val(document.getElementById("phonenumber" + id).innerHTML);
                $("#inputId").val(id);
            
        }

      

        ////*****Update*****
        $(".Update").click(function () {
            console.log($("#inputId").val());
            ref_PhoneBook = {
                ID: $("#inputId").val(),
                Fname: $('#inputFName').val(),
                Lname: $('#inputLName').val(),
                PhoneNumber: $('#inputPhoneNumber').val(),
            }
            console.log(ref_PhoneBook);

            $.ajax({
                url: "/Simple/Update",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(ref_PhoneBook),
                contentType: "application/json;charset=utf-8",
                success: function () {
                    alert("Update");
                    location.reload('table');
                },
                
            });
        })

        ////***Delete***
        $('.Delete').click(function () {
            ref_PhoneBook = {
                ID: $("#inputId").val(),
                Fname: $('#inputFName').val(),
                Lname: $('#inputLName').val(),
                PhoneNumber: $('#inputPhoneNumber').val(),
            }
            console.log(ref_PhoneBook);
            $.ajax({
                url: "/Simple/Delete",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(ref_PhoneBook),
                contentType: "application/json;charset=utf-8",
                success: function () {
                    alert("Delete");
                    location.reload("table");
                },
                
            });
        })

        /////*****Refresh
        $(".Refresh").click(function () { location.reload("table"); })

    </script>
</body>
</html>


